<p>checkout-selection works!</p>
<ng-container [ngSwitch]="render">
    <ng-container *ngSwitchCase="'initial'">
        <app-checkout-a [dataB]="dataB" [dataC]="dataC" (updateRender)="render = $event"></app-checkout-a>
    </ng-container>
    <ng-container *ngSwitchCase="'b'">
        @defer {
        <app-checkout-b (updateRender)="render = $event" (backClicked)="tempDataB = undefined; render = 'initial';"
            (bClicked)="tempDataB= $event"></app-checkout-b>
        }
    </ng-container>
    <ng-container *ngSwitchCase="'c'">
        @defer {
        <app-checkout-c [dataB]="tempDataB!" (backClicked)="render = 'b'" (updateDataB)="dataB = $event"
            (updateDataC)="dataC = $event" (updateRender)="render = $event"></app-checkout-c>
        }
    </ng-container>
</ng-container>