<p>pass-data-between-components works!</p>
<ng-container [ngSwitch]="render">
    <ng-container *ngSwitchCase="'initial'">
        <app-checkout-a [dataB]="state.dataB" [dataC]="state.dataC" (updateRender)="render = $event"></app-checkout-a>
    </ng-container>
    <ng-container *ngSwitchCase="'b'">
        @defer {
        <app-checkout-b (updateRender)="render = $event" (backClicked)="render = 'initial'"
            (bClicked)="tempDataB = $event"></app-checkout-b>
        }
    </ng-container>
    <ng-container *ngSwitchCase="'c'">
        @defer {
        <app-checkout-c [dataB]="tempDataB!" (backClicked)="render = 'b'" (updateDataB)="state.dataB = $event"
            (updateDataC)="state.dataC = $event" (updateRender)="render = $event"></app-checkout-c>
        }
    </ng-container>
</ng-container>