<p>login-with-email works!</p>

<p>Disclaimer: the goal is to demonstrate that this page will not fetch login-with-email-password-input or login-with-email-register-detail unless the buttons below were clicked once</p>

<ng-container [ngSwitch]="render">
    <ng-container *ngSwitchCase="'initial'">
        <p>Email: {{ emailFormControl.value }}</p>
        <input [formControl]="emailFormControl"><br>
        @if (emailFormControl.hasError('email') && !emailFormControl.hasError('required')) {
            <p>Please enter a valid email address</p>
        }
        @if (emailFormControl.hasError('required') && emailFormControl.dirty) {
            <p>Email is <strong>required</strong></p>
        }
        <button
            [disabled]="!emailFormControl.valid"
            (click)="render = 'login-with-email-password-input'">Continue to Login With Email Password Input Component</button><br>
        <button
            [disabled]="!emailFormControl.valid"
            (click)="render = 'login-with-email-register-detail'">Continue to Login With Email Register Detail Component</button><br>
    </ng-container>

    <ng-container *ngSwitchCase="'login-with-email-password-input'">
        @defer ( when render === "login-with-email-password-input" ) {
            <app-login-with-email-password-input
                [email]="emailFormControl.value"
                (back)="render = 'initial'">
            </app-login-with-email-password-input>
        }
    </ng-container>

    <ng-container *ngSwitchCase="'login-with-email-register-detail'">
        @defer ( when render === "login-with-email-register-detail") {
            <app-login-with-email-register-detail
                [email]="emailFormControl.value"
                (back)="render = 'initial'">
            </app-login-with-email-register-detail>
        }
    </ng-container>

</ng-container>